<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设备操作</title>
</head>
<body>
<center>
    <h1>添加读卡器</h1>
        <form th:action="@{/bas_cardreader/add}" method="post">
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>
            <input type="text" name="" placeholder=""><br>

            <button type="submit">添&emsp;加</button>
        </form>

    <h1>删除设备</h1>
    <h1>修改设备</h1>
    <h1>查询设备</h1>
</center>




</body>
</html>